body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
}

.game-area {
  flex: 2;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  overflow-y: auto;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.backButton {
  display: none;
}

.startGame {
  display: none;
}

.send {
  display: none;
}

.renameInput {
  display: none;
}

.renameButton {
  display: none;
}

.joinRoomCode {
  display: none;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.roomCode {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.chat-area {
  flex: 1;
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat-area h1 {
  text-align: center;
  font-size: 1.5em;
}

.chat-area .online {
  display: flex;
  justify-content: space-between;
}

.chat-area .messages {
  flex: 1;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: auto;
}

.chat-area input {
  padding: 10px;
  border: 1px solid #ccc;
}
